---
import Layout from "../../layouts/BlogPostLayout.astro";
import Paragraph from "../../components/blog_post_components/Paragraph.astro";
import CodeBlock from "../../components/blog_post_components/CodeBlock.astro";
import ImageBlock from "../../components/blog_post_components/ImageBlock.astro";
import TableBlock from "../../components/blog_post_components/TableBlock.astro";

import { getPostsList, getBlogPost } from "../../data/helpers/postsData";

export async function getStaticPaths() {
    const blogPostsList = getPostsList();

    return blogPostsList.map((blogPost) => {
        const blogContent = getBlogPost(blogPost.Slug);
        return {
            params: { slug: blogPost.Slug },
            props: { blogContent },
        };
    });
}

const { blogContent } = Astro.props;
---

<Layout
    title={blogContent.Title}
    description={blogContent.Subtitle}
    image={blogContent.HeroImage}
    slug={blogContent.Slug}
>
    <div class="flex flex-col w-full justify-center items-center">
        <section class="w-11/12 flex flex-col items-start">
            <h1 class="mt-5 text-3xl font-bold">{blogContent.Title}</h1>
        </section>

        <section class="w-full flex justify-center items-center">
            <img
                src={blogContent.HeroImage}
                alt=`image of blog post ${blogContent.Title}`
                class="rounded-xl w-3/4 lg:w-3/7 h-auto max-w-4xl mx-auto mt-8 object-cover aspect-video shadow-md shadow-dark-third dark:shadow-light-third"
            />
        </section>

        <section class="w-11/12 flex flex-col items-start">
            <p class="mt-5 text-sm">{blogContent.Date}</p>
            <div class="mt-2 -ml-3">
                {
                    blogContent.Categories.map((category) => (
                        <a
                            href={`/category/${category.toLowerCase().replace(/\s+/g, "-")}`}
                            class="cursor-pointer ml-3 font-semibold"
                        >
                            [{category}]
                        </a>
                    ))
                }
            </div>

            <h2 class="mt-3 text-xl font-bold">{blogContent.Subtitle}</h2>

            <section class="mt-3 w-full min-w-0">
                {
                    blogContent.Content.map((content) => {
                        switch (content.type) {
                            case "p":
                                return (
                                    <Paragraph
                                        type={content.type}
                                        value={content.value}
                                        conf={content.conf}
                                    />
                                );
                            case "c":
                                return (
                                    <CodeBlock
                                        type={content.type}
                                        value={content.value}
                                        conf={content.conf}
                                    />
                                );
                            case "i":
                                return (
                                    <ImageBlock
                                        type={content.type}
                                        value={content.value}
                                    />
                                );
                            case "t":
                                return (
                                    <TableBlock
                                        type={content.type}
                                        value={content.value}
                                        conf={content.conf}
                                    />
                                );
                        }
                    })
                }
            </section>
        </section>
    </div>
</Layout>
